project:
  type: website
  output-dir: docs

website:
  page-navigation: true
  title: "PLNT6530 - Winter 2026"
  description: "Reproducible Data Science for Agriculture"
  site-url: "https://adriancorrendo.github.io/"
  repo-actions: [edit, issue]
  
  open-graph: true
  twitter-card:
    creator: "@aacorrendo"
    
  page-footer: 
    left: "<span> Developed by Adrian Correndo with [Quarto](https://quarto.org/). License: [CC BY-SA 2.0](https://creativecommons.org/licenses/by-sa/2.0/). </span>"
    background: dark
  
  navbar:
    
    right: 
      - icon: globe
        href: https://adriancorrendo.github.io/
      - icon: github
        href: https://github.com/adriancorrendo/plnt6530/
      - icon: twitter
        href: https://twitter.com/aacorrendo
      - icon: linkedin
        href: https://www.linkedin.com/in/adriancorrendo/
      
  sidebar:
    logo: "images/2026_logo.png"
    pinned: true
    align: center
    tools:
      - icon: github
        href: https://github.com/adriancorrendo/
        
    style: "docked"
    search: true
    collapse-level: 1
    contents:
      - href: index.qmd
        text: "Home" 
      - section: "Slides"
        contents:
          - href: slides/day1.qmd
            text: "Reproducibility"
      - section: "Software"
        contents:
          - href: software/software.qmd
            text: "Instructions"
      - section: "Lessons"
        contents:
          - href: coding/week_01/essentials_01.qmd
            text: "01-Essentials of R"
          - href: coding/week_02/02_fundamentals_rpackages.qmd
            text: "02-Fundamentals of packages"
          - href: coding/week_02/03_versioncontrol.qmd
            text: "03-Git & GitHub"
          - href: coding/week_03/04_datawrangling_01.qmd
            text: "04-Data Wrangling I"
          - href: coding/week_03/05_datawrangling_02.qmd
            text: "05-Data Wrangling II"
      - section: "Quarto"
        contents:
          - href: coding/quarto/quarto.qmd
            text: "Quarto Basics"
      - section: "Calendar"
        contents:
          - href: outline/calendar.qmd
            text: "Schedule"
      - section: "Course Outline"
        contents:
          - href: outline/outline.qmd
            text: "Outline"
       
format:
  html:
    theme:
      light: flatly
      dark: darkly
    highlight-style: pygments
    css: styles.css
    toc: true
    toc-title: "Content"
    toc-location: right
    code-copy: true
    code-overflow: scroll
    
freeze: auto

editor: visual

